.Agregar{color: black; background-color: red;border-radius: 0px 0px 1px 1px;}
.Boton{margin: 10px 30px; border-radius: 5px;}

.contador{border:solid 2px blue;color: white;background-color: blue;border-radius: 100px;padding: 0px 10px;}